<div attr.id="{{'datatable_' + Data?.ID}}" class="datatable-container datatable-full-left">
  <div class="datatable-right">
    <span>Filter By:</span>
    <select #filterSelect (change)="Data?.Filter(filterSelect.value, filter.value, true)">
      <option value="{{column.ColumnID}}" *ngFor="let column of Data?.Columns" [selected]="column.ColumnID === Data?.FilterColumn">{{column.ColumnID}}</option>
    </select>
    <span>Filter:</span>
    <input type="text" #filter (keyup)="Data?.Filter(filterSelect.value, filter.value, true)" value="{{Data?.FilterText}}"/>
  </div>
  <table class="datatable">
    <thead>
      <tr>
        <th *ngFor="let column of Data?.Columns">
          <span (click)="Data?.Sort(column, true)">{{column.ColumnID}}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of Data?.DisplayedRows;let i = index;" [class]="i % 2 == 0 ? '' : 'datatable-alt-row'">
        <td *ngFor="let column of Data?.Columns">{{row[column.ColumnID]}}</td>
      </tr>
    </tbody>
  </table>
  <div class="datatable-full-left datatable-center datatable-padding5">
    <div class="datatable-left">
      <div *ngIf="Data?.Pager.TotalPageCount === 1">
        <div *ngIf="Data?.Pager.TotalRowCount === 0">
          <span>No results</span>
        </div>
        <div *ngIf="Data?.Pager.TotalRowCount === 1">
          <span>Displaying 1 record</span>
        </div>
        <div *ngIf="Data?.Pager.TotalRowCount > 1">
          <span>Displaying {{Data?.Pager.TotalRowCount.toLocaleString()}} records</span>
        </div>
      </div>
      <div *ngIf="Data?.Pager.TotalPageCount > 1">
        <div *ngIf="Data?.Pager.CurrentPage === Data?.Pager.TotalPageCount && Data?.DisplayedRows.length === 1">
          <span>Displaying record {{Data?.Pager.TotalRowCount.toLocaleString()}} of {{Data?.Pager.TotalRowCount.toLocaleString()}}</span>
        </div>
        <div *ngIf="Data?.DisplayedRows.length !== 1">
          <span>Displaying {{(Data?.Pager.DisplayRowsStartIndex+1).toLocaleString()}}-{{(Data?.Pager.DisplayRowsEndIndex+1).toLocaleString()}} of {{Data?.Pager.TotalRowCount.toLocaleString()}} records</span>
        </div>
      </div>
    </div>
    <div [hidden]="Data?.Pager.TotalPageCount === 1">
        <span class="datatable-pager" (click)="Data?.Pager.Go(1)"><<</span>
        <span class="datatable-pager" (click)="Data?.Pager.Go(Pager.CurrentPage - 1)"><</span>
        <span class="datatable-pager" (click)="Data?.Pager.Advance(false)">...</span>
        <span [class]="p === Data?.Pager.CurrentPage ? 'datatable-pager datatable-pager-current' : 'datatable-pager'" *ngFor="let p of Data?.Pager.DisplayedPageNumbers" (click)="Data?.Pager.Go(p)">{{p}}</span>
        <span class="datatable-pager" (click)="Data?.Pager.Advance(true)">...</span>
        <span class="datatable-pager" (click)="Data?.Pager.Go(Data.Pager.CurrentPage + 1)">></span>
        <span class="datatable-pager" (click)="Data?.Pager.Go(Data.Pager.TotalPageCount)">>></span>
    </div>    
  </div>
</div>